mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;

    .logo, .fill-space, div {
        display: flex;
        align-items: center;
    }

    div {
        justify-content: flex-end;

        a {
            margin-left: 10px; // Gleichmäßiger Abstand zwischen den Links
        }
    }
}

.fill-space {
    flex: 1;
}
